@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter','sans-serif';
  height: 100vh;
  background: white;
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 25px;
  padding: 40px;
  width: 100%;
  max-width: 550px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
}

h1 {
  font-size: 36px;
  font-weight: 700;
  color: black;
  margin-bottom: 30px;
  text-shadow: 2px 2px 15px rgba(0,0,0,0.3);
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

input[type="file"] {
  padding: 12px 20px;
  border-radius: 15px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  background: rgba(255,255,255,0.8);
  transition: 0.3s ease;
}

input[type="file"]:hover {
  background: rgba(255,255,255,1);
}

button {
  padding: 14px 30px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(135deg, #f953c6, #b91d73);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  transition: 0.4s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0,0,0,0.5);
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}

.preview {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.preview:hover {
  transform: scale(1.05);
}

.result-card {
  margin-top: 25px;
  padding: 25px;
  border-radius: 20px;
  color: black;
  font-weight: 500;
  box-shadow: 0 12px 40px rgba(0,0,0,0.3);
  animation: fadeIn 0.5s ease;
}

.result-biological { border-left: 6px solid red; }
.result-glass { border-left: 6px solid yellow; }
.result-paper { border-left: 6px solid green; color: #222; }
.result-plastic { border-left: 6px solid blue; }

.loader {
  margin: 20px auto;
  border: 6px solid rgba(255,255,255,0.2);
  border-top: 6px solid #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/*animasi nya */
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

@keyframes fadeIn {
  from {opacity:0; transform: translateY(-15px);}
  to {opacity:1; transform: translateY(0);}
}

@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
